html, body {
  background: #212121;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* DOM object needs a width for centering to apply */
.centered {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

canvas {
    background: #666666;
}

div#title {
    width: 500px;
    text-align: center;
    font-size: 30px;
}

div#maps {
    text-align: center;
}


.divider{
    width:5px;
    height:auto;
    display:inline-block;
}